.clearfix ::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}
.w {
  width: 1200px;
  margin: auto;
}
body {
  background-color: antiquewhite;
  /* height: 3000px; */
}
.header {
  height: 42px;
  background-color: saddlebrown;
  margin: 30px auto;
}
.logo {
  float: left;
  width: 198px;
  height: 42px;
  background-color: brown;
}

li {
  list-style: none;
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li {
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  font-size: 18px;
  font-weight: large;
  color: white;
  text-decoration: none;
}
.nav ul li a:hover {
  border-bottom: 2px solid green;
}
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 50px;
}
.search input {
  width: 345px;
  height: 40px;
  border: 1px solid brown;
  border-right: none;
  color: gray;
  font-size: 14px;
  padding-left: 15px;
  float: left;
}
.search button {
  height: 42px;
  width: 50px;
  background-color: blue;
  float: left;
  border: 0;
  background: url(searchbutton.PNG);
}
.user {
  float: right;
  line-height: 42px;
  margin-right: 30px;
  font-size: 14px;
}
.banner {
  height: 421px;
  background-color: saddlebrown;
  width: 100%;
}
.banner .w {
  height: 421px;
  background: url(coffeebanner.webp) top center;
}
.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background-color: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  /* margin-left: 20px; */
}
.subnav ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.subnav ul li a span {
  float: right;
}

.subnav ul li:hover {
  background-color: saddlebrown;
}
.course {
  width: 230px;
  height: 300px;
  background-color: rgb(248, 231, 193);
  float: right;
  margin-top: 50px;
  /* padding-top: 50px;
     */
}
.course h2 {
  height: 48px;
  color: black;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  background-color: white;
}
.bd {
  padding: 0 20px;
}
.bd ul li h4 {
  font-size: 16px;
  color: black;
}
.bd ul li p {
  font-size: 12px;
  color: gray;
}
.bd ul li {
  padding: 15px 0;
  border-bottom: 1px solid #000;
}
.bd .more {
  display: block;
  height: 38px;
  /* border: 1px solid ; */
  text-align: center;
  line-height: 38px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.goods {
  height: 60px;
  background-color: white;
  box-shadow: 0 4px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  line-height: 60px;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: black;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
}
.goods ul li a {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border-left: 1px solid #000;
}
.mod {
  float: right;
  margin-right: 30px;
  font-size: 16px;
  color: black;
}
.box {
  margin-top: 30px;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.box .box-hd {
  height: 45px;
}
.box .box-hd h3 {
  float: left;
  font-size: 20px;
  color: #000;
}
.box-hd a {
  float: right;
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  margin-right: 30px;
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.box-bd ul {
  width: 1225px;
}
.box-bd ul li {
  width: 228px;
  height: 270px;
  background-color: rgb(24, 53, 4);
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.box-bd ul li img {
  width: 100%;
}
.box-bd ul li h4 {
  margin: 0 20px 0 25px;
  font-size: 14px;
  font-weight: 1000;
  color: white;
}
.box-bd .info {
  margin: 0 20px 0 25px;
  font-size: 12px;
  color: white;
}
.footer {
  height: 150px;
  background-color: saddlebrown;
}
.footer .w {
  padding-top: 35px;
}
.copyright {
  float: left;
}
.link {
  float: left;
  margin-left: 350px;
}
.copyright .app {
  display: block;
  width: 200px;
  height: 33px;
  border: 1px solid black;
  text-align: center;
  line-height: 33px;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  background-image: url(starbuck.PNG);
}
dl {
  float: left;
  margin-left: 100px;
}
.jumplink {
  height: auto;
  background-color: saddlebrown;
  padding-left: 800px;
  padding-bottom: 100px;
}
.jumplink ul li {
  float: left;
  margin-left: 10px;
}
.products {
  height: 400px;
  background-color: #1f3933;
  margin: 30px auto;
}
.p-img {
  margin-left: 50px;
  float: left;
  margin-top: 30px;
  height: 300px;
  width: 400px;
}
.p-intr {
  margin-right: 50px;
  float: right;
  margin-top: 10px;
  height: 300px;
  width: 400px;
  color: white;
}
.p-img a {
  float: left;
  height: 300px;
  width: 300px;
  background-image: url(Americano.png);
}
.p-sel {
  float: left;
  margin-top: 10px;
  width: 300px;
  height: 300px;
}
.size-sel {
  margin-top: 20px;
  margin-left: 25px;
  width: 250px;
  height: 30px;
}
.ice-sel {
  margin-top: 10px;
  margin-left: 25px;
  width: 250px;
  height: 30px;
  /* border: 1px solid white; */
}
.sugar-sel {
  margin-top: 10px;
  margin-left: 25px;
  width: 250px;
  height: 30px;
  /* border: 1px solid white; */
}
.quantity-sel {
  margin-top: 10px;
  margin-left: 25px;
  width: 250px;
  height: 30px;
}
.Message {
  margin-top: 10px;
  margin-left: 25px;
  width: 250px;
  height: 100px;
  background-color: white;
}
.Message input {
  color: gray;
  width: 250px;
  height: 100px;
}
.products h2 {
  height: 30px;

  text-align: center;
  line-height: 30px;
  color: white;
}
.lb {
  /* float: left; */
  width: 80px;
  height: 30px;
}
.mb {
  width: 80px;
  height: 30px;
}
.rb {
  float: right;
  width: 80px;
  height: 30px;
}
.MyQuantity {
  float: left;
  width: 80px;
  height: 30px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: 30px;
}
.MyQuantity input {
  float: left;
  width: 76px;
  height: 26px;
  text-align: center;
  line-height: 30px;
}
.Checkout {
  margin-top: 10px;
  margin-left: 80px;
  width: 80px;
  height: 30px;
}
.lb:hover {
  background-color: saddlebrown;
  color: white;
  font-weight: 900;
}
.mb:hover {
  background-color: saddlebrown;
  color: white;
  font-weight: 900;
}
.rb:hover {
  background-color: saddlebrown;
  color: white;
  font-weight: 900;
}
.Checkout:hover {
  background-color: saddlebrown;
  color: white;
  font-weight: 900;
}
.Blog ul {
  width: 1225px;
  background-color: black;
}
.Blog ul li {
  margin-top: 10px;
  width: 1225px;
  height: 300px;
  background-color: wheat;
}
.Blog ul li a img {
  float: left;
  width: 300px;
  height: 300px;
  background-color: green;
}
.Blog ul li a p {
  padding-left: 10px;
  float: right;
  background-color: wheat;
  color: gray;
  width: 900px;
  height: 300px;
}
.BlogClass {
  background-image: url(banner.jpg);
  background-attachment: fixed;
}
.About {
  width: 1700px;
  margin-left: 200px;
}
.About ul li img {
  float: left;
  width: 600px;
  height: 600px;
  background-color: green;
}
.us-intro {
  float: left;
  margin-left: 50px;
  width: 900px;
  height: 600px;
  background-color: wheat;
}
.About ul {
  width: 1225px;
  background-color: black;
}
.About ul li {
  margin-top: 10px;
  width: 1600px;
  height: 600px;
  background-color: wheat;
}
.favor {
  width: 33px;
  height: 40px;
  background-color: black;
  background-image: url(favor1.PNG);
}
.favored {
  width: 33px;
  height: 40px;
  background-color: black;
  background-image: url(favor2.PNG);
}
.checkoutpage {
  height: 300px;
  background-color: #1f3933;
  margin-bottom: 20px;
}
.checkoutpage ul {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  height: 200px;
}
.checkoutpage ul li {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}
.checkoutpage ul li span {
  font-size: large;
  font-weight: 900;
  color: wheat;
}
#finalpage {
  height: 50px;
  background-color: wheat;
  text-align: center;
  line-height: 50px;

}
